@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
*,
*::before,
*::after{
    box-sizing: border-box;
}
:root{
    --ff-primary: 'Source Sun Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    --fw-reg:300;
    --fw-bold:900;
    --clr-light:#f8f9fa;
    --clr-dark:#495057;
    --clr-dark-accent:#2d6a4f;
    --fs-h1:3.5rem;
    --fs-h2:2.5rem;
    --fs-h3:1.5rem;
    --fs-body:1.5rem;
    --bs: .25em .25em .90em rgba(0,0,0,.25)
}
.logo{
    max-width: 200px;
}
.logoeye {
    background: rgba(0, 119, 182, .50);
    margin: 6px;
    width: 30px;
    height: 30px;
    border: solid 2px var(--clr-dark-accent);
    border-radius:  75% 15%;
    position: relative;
    transform: rotate(45deg);
    cursor: pointer;
  }
  .logoeye:before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border: solid 3px #089ef0;
    border-radius: 50%;
    left: 8px;
    top: 8px;
  }

@media(main-width: 800px){
    :root{
        --fs-h1:4.5rem;
        --fs-h2:3.75rem;
        --fs-h3:1.5rem;
        --fs-body:1.50rem;
    }
}
/* General style  */
body{
   background: var(--clr-dark);
   color: var(--clr-accent);
   margin: 0%;
   font-family: var(--ff-primary);
   font-size: var(--fs-body);
   line-height: 1.6;
}
.my_services{
    margin: 200px 50px 75px 100px;
} 
.eye{
    width: 200px;
    height: 200px;
    background: rgba(0, 119, 182, .50);
    position: relative; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    border-radius: 80% 0;
    overflow: hidden;
    border: 10px solid var(--clr-dark-accent); 
    cursor: pointer;
    transition-duration:100s;
}
 .ball{
    width: 150px;
    height: 150px;
    background: #00b4d8;
    border-radius: 50%;
    border: 45px solid #48cae4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.ball:hover{
    display:none !important;
    transition-duration:100s;
}


.h1,h2,h3{
     line-height: 1.1;
     margin: 0;
}
h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}
.h1__section__tiltle{
    margin-bottom: .25em;
    font-weight: var(--fw-reg);
    color: var(--clr-light);
}
.p__subtitle__intro{
    margin-right: 200px;
    font-size: var(--fs-h3);
    color: var(--clr-light);

}
.section__subtitle__about,.p__subtitle__intro{
    background: var(--clr-dark-accent);
    font-family: var(--ff-secondary);
    padding: .25em;
    margin-bottom: 1em;
}
/* Intro section */
.intro{
    position: relative;
}
.p__subtitle__intro{
    text-align: start;
}
.intro{
    width: min-content;
    


}
@media (min-width: 700px){
    .intro{
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 2em;
        grid-template-areas: "img title""img subtitle";
        grid-template-columns: min-content max-content;


    }
}
.intro__img {
    grid-area: img;
    max-width: 400px;
    position: relative;
    z-index: 2;
    box-shadow: var(--bs) ;
}
.p__subtitle__intro{
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 10em );
    padding-right: 20% !important;
}
.h2__section__services::after{
    content: '';
    display: block;
    width: 40%;
    height: 1.5px;
    margin: 1px auto 0.5em;
    background: currentColor;
    color: var(--clr-light);
}
.about-me__body{      
    color: var(--clr-light);
    text-align: justify;

}
.about-me__img{
    shape-margin: 2rem;
    box-shadow: var(--bs);
    max-width: 400px;
}
.section__subtitle__about{
    width: calc(-50% + 2rem);
    padding-right: calc(250px);
    color: var(--clr-light);

}
.h2-section__title__about{
    grid-area: title;
    display: inline-block;
    color: var(--clr-light);

}
.about-me{
    grid-column-gap: 2em;
    max-width: 75%;
    margin: 0 auto;
}

@media(min-width: 700px){
    .section__subtitle__about{
        height: min-content;
    }
    .about-me{
        display: grid;
        grid-template-columns: 1fr 300px;
        grid-template-areas: 
        "title img"
        "subtitle img"
        "text img";
        grid-column-gap: 2em;
        max-width: 75%;
        margin: 0 auto;
    }
    .h2-section__title__about{
        grid-area: title;
        display: inline-block;
        color: var(--clr-light);

    }
    .section__subtitle__about{
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 2em;
        padding-right: calc(250px + 4em);
        color: var(--clr-light);

    }
    .about-me__body{
        
        color: var(--clr-light);
        text-align: justify;
        text-justify: auto;

    }
    .about-me__img{
        grid-area: img;
        max-width: 450px;
        shape-margin: 2rem;
        position: relative;
        box-shadow: var(--bs);
        margin-right: 30px;
        max-width: 400px;
        display: grid;
    }
}

/* footer  */
.footer{
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h1);
}
.footer__link:hover{
    text-decoration: underline;
    
}
.footer__link:hover,.social__list__link:hover{
    opacity: 0.5;
}
.social__list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
    padding: 0;
}
.social__list__item{
    margin: 0 0.5em;
}
.social__list__link{
    padding: 0.5em;
}
